#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
  behaviors {
    td0: parens_dance {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>; 
    };
    td1: brace_dance {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>; 
    };
    td2: bracket_dance {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>; 
    };
    td3: caps_lock {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp LSHFT>, <&kp CAPS>;
    };
    td4: period {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp SPACE>, <&kp DOT>, <&kp COMMA>, <&kp SEMI>;
    };
    td5: quotes {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp SQT>, <&kp DQT>;
    };
    td6: layer1 {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&mo 1>, <&kp LEFT_GUI>;
    };
    td7: layer2 {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&mo 2>, <&kp RCTRL >;
    };
  };

  keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
&kp TAB   &kp Q  &kp W  &kp E       &kp R   &kp T   &kp Y    &kp U  &kp I      &kp O    &kp P     &kp SEMI
&kp ESC   &kp A  &kp S  &kp D       &kp F   &kp G   &kp H    &kp J  &kp K      &kp L    &kp BSPC  &td5
&td3      &kp Z  &kp X  &kp C       &kp V   &kp B   &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                        &kp LALT    &td6    &td4    &kp RET  &td7   &kp RALT
            >;
        };

        symbols {
            bindings = <
&kp TAB   &kp PRCNT      &kp AMPS      &kp QMARK      &kp COLON   &kp TILDE   &td0      &kp N1  &kp N2    &kp N3  &none     &kp SEMI
&kp ESC   &kp KP_EQUAL   &kp KP_PLUS   &kp KP_MINUS   &kp N0      &kp DOLLAR  &td1      &kp N4  &kp N5    &kp N6  &kp BSPC  &td5
&td3      &kp LT         &kp GT        &kp UNDER      &kp STAR    &kp GRAVE   &td2      &kp N7  &kp N8    &kp N9  &kp PIPE  &kp RSHFT
                                       &kp LALT       &td6        &td4        &kp RET   &td7    &kp RALT
            >;
        };

        misc {
            bindings = <
&kp TAB   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_CLR_ALL  &kp F4    &kp F5      &kp F11   &kp F12     &none   &none
&kp ESC   &none         &none         &none         &none           &none           &kp LEFT  &kp DOWN    &kp UP    &kp RIGHT   &none   &none
&td3      &none         &none         &none         &none           &none           &none     &none       &none     &none       &none   &none
                        &kp LALT      &td6          &td4            &kp RET         &td7      &kp RALT
            >;
        };
    };
};
